.forgot_password{
    height: 100vh;
    background-color: var(--white);
    color:var(--dark);
    .form_forgot_password {
        max-height: 90vh;
        display: flex;
        justify-content: space-between;
        .forms {
            padding: 5px 15px;
            width: 600px;
            // background-color: red;
            .forme{
                border: 1px solid #2525251f;
                border-radius: 10px;
                // height: 85vh;
                // background-color: green;
                .title {
                    margin-top: 10px;
                    font-weight: 600;
                    font-size: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // background-color: #f49030;

                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
                .forgot_img{
                    img{

                        height: 400px;
                    }
                }
                form {
                    padding: 5px 20px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    // background-color: aqua;
    
                    .input{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        p{
                            font-weight: 600;
                            font-size: 18px;
                        }
    
                        .btn_envoyer {
                            margin-top: 15px;
                            background: #f49030;
                            border: 1px solid #f49030;
                            width: 100%;
                            padding: 10px;
                            border-radius: 5px;
                            color: #FFF;
                            font-size: 15px;
                            cursor: pointer;
                        }
                        .btn_envoyer_disable{
                            margin-top: 15px;
                            background: #AFAFAF;
                            border: 1px solid #AFAFAF;
                            width: 100%;
                            padding: 10px;
                            border-radius: 5px;
                            color: #FFF;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        .picture_for_password {
            background: url('../../../Images/mdpForgot.png');
            background-repeat: no-repeat;
            background-position: center;
            object-fit: cover;
            width: 100%;
            height: 100%;
            border: 1px;
        }
    }
}