#CardActiveBarFocus {
    #cercle_focus {
        background-color: #000;
        height: 60px;
        width: 60px;
        // position: absolute;
        // bottom: 10px;
        // right: 10px;
        z-index: 999;
        border-radius: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        // cursor: pointer;
        box-shadow: 0px 0px 5px 0px rgba(0,0, 0, 0.5);

        #cercle_cancel {
            position: absolute;
            color: #fff;
            translate: 95% -95%;
            background-color: #000;
            border-radius: 50%;
        }
    }

    .footerFocus {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }
}