.Content {
    padding: 12px;
    overflow-y: auto;
    scrollbar-width: thin;
    height: 85%;
    max-height: 85%;

    &::-webkit-scrollbar{
        width: 2px !important;
    }
    &::-webkit-scrollbar-thumb{
        background: #afafaf;
    }

    .title {
        font-size: 16px;
    }

    .highlightSwipe {
        margin-top: 20px;
        .swiper {
            .swiperItem {
                flex-shrink: 100 !important;
                min-height: 60px;
                // border: 1px solid;
                border-radius: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                cursor: pointer;

                p {
                    font-size: 12px;
                }

                img {
                    width: 60px;
                    height: 60px;
                    border-radius: 8px;
                    border: 1px solid #25252541;
                }
            }
        }
    }

    .Zone {
        margin-top: 20px;

        .FilActualite_zone_content {
            margin-top: 12px;
            .swiper-slide{
                flex-shrink: 100 !important;
            }
        }
    }

    .focus {
        margin-top: 20px;

        .FocusContent {
            swiper-slide{
                flex-shrink: 100 !important;
            }
            margin-top: 12px;
            padding-bottom: 12px;
        }
    }
}