#Zone{
    padding: 20px;
    .cardZone{
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        // display: flex;
        // flex-wrap: wrap;
        // grid-gap: 12px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        margin-top: 60px;
    }
}